body{
 font-family: system-ui, sans-serif;
 margin:0;
 padding:30px;
 text-align:center;
 background:#222;
 color:white;
 transition:background 0.6s ease;
}

h1{
 margin-bottom:20px;
}

.moods{
 margin-bottom:25px;
}

.mood-btn{
 border:none;
 padding:12px 20px;
 margin:6px;
 border-radius:10px;
 font-size:16px;
 cursor:pointer;
 background:#ffffff15;
 color:white;
 backdrop-filter: blur(6px);
 transition:.25s;
}

.mood-btn:hover{
 background:#ffffff30;
 transform:translateY(-2px);
}

.mood-btn.active{
 outline:2px solid white;
}

#dashboard{
 display:flex;
 justify-content:center;
 gap:20px;
 flex-wrap:wrap;
 transition:.3s;
}

.card{
 width:220px;
 background:#ffffff10;
 border-radius:16px;
 padding:15px;
 backdrop-filter: blur(10px);
 box-shadow:0 8px 25px rgba(0,0,0,.3);
}

.card img{
 width:100%;
 height:300px;
 object-fit:cover;
 border-radius:12px;
 margin:10px 0;
}

.hidden{display:none}

#loader{
 margin:20px;
 font-size:18px;
}

#error-message{
 color:#ff8080;
 margin:15px;
}